@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
.intro-main {
    margin-top: -100px;
    max-width: 1110px;
    margin-inline: auto;
  }
  .main-container {
    display: grid;
    place-items: center;
    margin-bottom: -200px;
  }

.even-columns{
    display: grid;
    gap:1rem;
  }

.link-main {
  font-family: "Exo 2", sans-serif;
    background-image: linear-gradient(
      to right,
      #E7D8F7,
      #E7D8F7 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
.link-main:before{
    content: '';
    background: #E7D8F7;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  .link-main:hover {
    background-position: 0;
   }
   
   .link-main:hover::before{
     width: 100%;
   }

  .skillset-container{
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
  }

  .skillset-first{
    font-family: "Exo 2", sans-serif;
    padding-right: 3.25rem;
    order: 2;
    color: #fde9ff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #fde9ff, 2px 2px 1px #532B88, 4px 2px 1px #fde9ff,
    3px 3px 1px #532B88, 5px 3px 1px #fde9ff, 4px 4px 1px #532B88,
    6px 4px 1px #fde9ff, 5px 5px 1px #532B88, 7px 5px 1px #fde9ff,
    6px 6px 1px #532B88, 8px 6px 1px #fde9ff, 7px 7px 1px #532B88,
    9px 7px 1px #fde9ff;
  }
  .skillset-second{
    font-family: "Exo 2", sans-serif;
    padding-left: 2.25rem;
    order: 2;
    color: #fde9ff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #fde9ff, 2px 2px 1px #532B88, 4px 2px 1px #fde9ff,
    3px 3px 1px #532B88, 5px 3px 1px #fde9ff, 4px 4px 1px #532B88,
    6px 4px 1px #fde9ff, 5px 5px 1px #532B88, 7px 5px 1px #fde9ff,
    6px 6px 1px #532B88, 8px 6px 1px #fde9ff, 7px 7px 1px #532B88,
    9px 7px 1px #fde9ff;
  }

.skillset-span {
    display: block;
    position: relative;
}